/**
## General styles
This stuff can be ported from experiment to experiment.*/

/** We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */
body {
	padding: 20;
	margin: 20;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	width: 95%;
	height: 95%;
}

canvas {
    height: 600;
    width: 950;
	width: 100%;
	height: 100%;
 align: center;
}

table {
  font-size: 16px;
}

.slide {
  text-align: center;
	width: 90%;
	height: 90%;
	display: none;
	position: absolute;
	margin: 0.5%;
	margin-left: 0.5%;
	padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
	background: url(button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}

button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}

/**
## Experiment-specific styles
This stuff will vary by experiment.
*/

#centered {
    text-align: center;
}

#intro {
    text-align: left;
}

#stage {
    text-align: center;
}

form {
    text-align: center;
}

.reponse {
    text-align: center;
}

#logo-text {
  font-weight: bold;
}

#instructions {
  text-align: center;
}

.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

/**
 * Dragdealer JS v0.9.5
 * http://code.ovidiu.ch/dragdealer-js
 *
 * Copyright (c) 2010, Ovidiu Chereches
 * MIT License
 * http://legal.ovidiu.ch/licenses/MIT
 */

.dragdealer {
	position: relative;
	height: 30px;
	background: #EEE;
}
.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}
.dragdealer .red-bar {
	width: 30px;
	height: 30px;
	background: #CC0000;
	color: #FFF;
	line-height: 30px;
	text-align: center;
}
.dragdealer .disabled {
	background: #898989;
}
.dragdealer .grey-bar {
        width: 30px;
        height: 30px;
        background: #999999;
        color: #FFF;
        line-height: 30px;
        text-align: center;
}


/* prog bar */
.progress{
    float:right;
}

.progress span{
    position:relative;
    top: -6px;
}

.bar-wrapper{
    height:20px;
    width:200px;
    border:1px solid #000000;
    display:inline-block;
}

.bar{
    position:relative;
    height:100%;
    width:0px;
    background-color:#000000
}
